@CHARSET "UTF-8";
@font-face{  font-family :"BMJUA_ttf";
  src: url("BMJUA_ttf.ttf") format('truetype');
}
@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

body {
  background-color: #e6f9ffb4;
  font-family: "BMJUA_ttf";
}

.searchBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.titleIcon {
  position: absolute;
  top: 45%;
  left:8%
}

.title {
  color: #2f3640;
  font-size: 70pt;
  font-family: "BMJUA_ttf";
  position: absolute;
  top: 15%;
  left: 30%;
  width: 5000px;
  height: 50px;
  
  
}

.subtitle {
  color:#2f3640;
  font-size: 25pt;
  position: absolute;
  top: 27%;
  left: 37%;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 40px;

}

.keyword {
  color: #2f3640;
  font-size: xx-large;
  position: absolute;
  top: 20%;
  left: 45%;
}

.keywordsBox {
  position: absolute;
  top: 30%;
  left: 32%;
}

.navTitle {
  color:#2f3640;
  width : 50%;
  font-size: xx-large;
  position: absolute;
}