@font-face{  font-family :"BMJUA_ttf";
  src: local(BMJUA_ttf) format('truetype');
}

body {
    background-color: #e6f9ffb4;
    font-family: "BMJUA_ttf";
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .navTitle{
      font-size: 25pt;
  }
  .all{
      display:flex;
      flex-direction: row;
  }
  .box{
    display:flex;
    flex-direction: column;
    left:70%;
  }


  .keyword{
    font-family: "BMJUA_ttf";
  }